.bottom-arrow {
  display: flex;
  margin-left: 60px;
  margin-top: 60px;

  font-weight: bold;
  font-size: 20px;
}

.card1 {
  height: 200px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 20px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  position: relative;

  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    .card1-delete {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: red;

      z-index: 1;

      position: relative;
      right: -185px;
      top: 8px;
    }

    .card1-description {
      height: 0em;
      padding: 0px 1em;
    }

    .card1-image {
      height: 100%;
      width: 100%;
      color: #fff;
      font-size: 20px;

      h1 {
        text-align: start;
        font-size: 34px;

        position: relative;
        left: -4px;
      }
    }
  }
}

.card1-image {
  height: 90%;
  width: 100%;
  padding: 10px 10px;

  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

  background-color: black;

  h1 {
    font-size: 34px;

    position: relative;
    left: -4px;
  }
}

.card1-description {
  background-color: #fafafc;
  height: 150px;
  width: 100%;
  position: absolute;
  bottom: 0em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align: center;

  h5 {
    font-size: 18px;
    text-transform: capitalize;

    font-family: "Open Sans", sans-serif;
  }

  p {
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
  }
}
