@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap");
.btn {
  border: 0px;
  border-radius: 22px;
  padding: 10px 22px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
  outline: none;
  cursor: pointer; }
  .btn-red {
    background-color: #EB5757; }
  .btn-green {
    background-color: #219653; }
  .btn-blue {
    background-color: #2F80ED; }
  .btn:hover {
    color: black; }

.header {
  display: flex;
  max-width: 1300px;
  margin: auto; }
  .header-logo p {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: bold; }
    .header-logo p span {
      color: #3d5af1; }
  .header-nav {
    display: flex;
    align-items: center;
    margin-left: auto; }
    .header-nav p {
      margin-left: 30px;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      cursor: pointer; }
      .header-nav p:hover {
        color: #5d5d5a; }


.input-area-title {
  margin-bottom: 5px;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold; }

.input-area .input-component {
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  outline: none;
  padding: 5px 10px;
  background: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: box-shadow .3s; }
  .input-area .input-component:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2); }

.card1 {
  height: 16em;
  width: 14em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden; }
  .card1:hover {
    cursor: pointer; }
    .card1:hover .card1-description {
      height: 0em;
      padding: 0px 1em; }
    .card1:hover .card1-image {
      height: 18em; }
    .card1:hover .card1-social-icons {
      background-color: white; }
    .card1:hover .card1-social-icons:hover {
      background-color: blue;
      cursor: pointer; }

.card1-image {
  height: 6em;
  width: 14em;
  padding: 1em 2em;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: black; }

.card1-description {
  background-color: #fafafc;
  height: 12em;
  width: 14em;
  position: absolute;
  bottom: 0em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align: center; }

.card2 {
  padding: 10px 20px;
  max-width: 1200px;
  margin: auto;
  border-radius: 14px;
  color: white;
  background-color: #4F4F4F;
  display: flex;
  padding-right: 50px;
  padding-bottom: 20px; }
  .card2-leftside-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px; }
  .card2-leftside-text {
    width: 550px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px; }
  .card2-count {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    margin-left: auto;
    display: flex;
    align-items: center; }
  .card2-buttons {
    display: flex;
    flex-direction: column;
    margin-left: auto; }
    .card2-buttons Button {
      margin-top: 20px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

